<footer class="latest p-4">
    <div class="row no-gutters">
        <div class="col-sm-5 mr-5">
            <div class="row no-gutters p-2 align-items-center">
                <div class="h1 col-sm-12">about</div>
                <div class="col-sm-2 text-center">
                    <img class="ml-3" src="/assets/images/chairlogo.png" style="width:80px">
                </div>
                <div class="col-sm ml-4">
                    <p>The Ericsson Data Science Lounge is an internal portal to share examples of applied Artificial Intelligence and Machine Learning from our business domains.</p>
                    <p>Its mission is to help connecting and growing a community of MI experts within Ericsson.</p>
                </div>
            </div>


        </div>
        <div class="col-sm-3 ml-5 mr-5">
            <div class="h1">News</div>
            <p>Next incremental DSL update deployed. While DSL is now in limited maintenance, please feel free to reach out to us re. any questions, we will get back to you.</p>
            
        </div>
        <div class="col-sm ml-5">
            <div class="h1">contact us</div>
            <p>Your feedback is important to us. Use the below Email address to get in touch!</p>
            <p>
                <a href="mailto:dsl-info@ericsson.com">dsl-info@ericsson.com</a>
            </p>
            <p>
                You can also follow our Yammer Channel:
            </p>
            <p>
                <a href="https://www.yammer.com/ericsson.com/#/threads/inGroup?type=in_group&feedId=13014921&view=all" target="_blank">DSL in Yammer</a>
            </p>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="h1 dsl-version col-sm-12">
            DSL {{version}}
        </div>
    </div>

</footer>
