.workspace {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    color: #111;
    section {
        border-radius: 6px;
    }
    .activity {
        background-color: #eaedef;
        position: relative;
        padding-bottom: 20px;
    }
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
    }
    .latest {
        min-height: 800px;
        h1.tab {
            font-size: 1.2rem !important;
            color: #fff;
            .active {
                border-bottom: 4px solid #fff;
            }
            >span:hover {
                border-bottom: 4px solid #fff;
            }
        }
    }
}