<section class="herobox jumbotron container-fluid mb-0" id="specialHerobox">
    <div class="h1 motto">
        <div style="color:red;">technology</div>
        <div style="color:rgb(226, 222, 222);"> meets</div>
        <div style="color:red;">creativity</div>
    </div>
    <div class="full-width top" id="fullWidth">
        <div class="full-width banner orange-background" id="fullWidth"> 
            <span style="color: #ff0000; font-weight: 900;">Note:</span>
            &nbsp;Data Science Lounge is in limited maintenance mode as funding was exhausted at the end of 2018. Any questions or suggestions, please get in touch through the contact details below.   
        </div>        
    </div>

</section>
