#specialHerobox {
    background-size: 100% 85%;
    min-height:400px;
    background-position-y: 0px;
    border-radius: 0px;
    background-image: url(/assets/images/herobox.jpg);
}

#fullWidth {
    width: 100%;
}

.orange-background {
    background-color: #ffba00 !important;
    color: #000000 !important;
}
