#{enumerate('.col-l', 1, $cols - 1, '')} {
  float: left;
  margin-left: $gutter;
}

@for $i from 1 through $cols {
	.col-l#{$i} {
	@include cols($i);
  }
}

@for $i from 1 through $cols {
	.grid-l#{$i} > li{
		@include cells($i);
	}
	.grid-l#{$i} > li:nth-of-type(n){
		clear:none;
	}
	.grid-l#{$i} > li:nth-of-type(#{$i}n+1){
		clear:both;
    }

} 