#{enumerate('.col-s', 1, $cols - 1, '')} {
  float: left;
  margin-left: $gutter;
}

@for $i from 1 through $cols {
  .col-s#{$i} {
    @include cols($i);
  }
}

@for $i from 1 through $cols {
	.grid-s#{$i} > li{
		@include cells($i);
	}
	.grid-s#{$i} > li:nth-of-type(n){
		clear:none;
	}
	.grid-s#{$i} > li:nth-of-type(#{$i}n+1){
		clear:both;
    }

}