#{enumerate('.col-xs', 1, $cols - 1, '')} {
    float: left;
    margin-left: $gutter;
}

@for $i from 1 through $cols {
    .col-xs#{$i} {
        @include cols($i);
    }
}

[class*="grid-"] {
    display: block;
    padding: 0;
    margin: 0 -0.625rem;
    *zoom: 1;
}

[class*="grid-"]:before, [class*="grid-"]:after {
    content: " ";
    display: table;
}

[class*="grid-"]:after {
    clear: both;
}

[class*="grid-"] > li {
    /* display: inline; */
    /* height: auto; */
    float: left;
    padding: 0 0.625rem 1.25rem;
}