.all-projects {
    margin-left: 30px;
    margin-right: 30px;
}

.all-projects-header {
    background-color: #e0e0e0;
    padding: 2rem 4rem 2rem 4rem;
}
.all-projects .title {
    padding-left: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: red;
}

.all-projects-content {
    background-color: #aeafad;
    padding: 2rem 4rem 2rem 4rem;
}